*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$priamary-color: #ececec;
$secondery-color:#7bd4c0;
$text-color:#fff;
@mixin transition-in-out {
    transition:all 0.3s ease-in-out;
}
@function set-text-color($color){
    @if(lightness($color)>40%){
        @return #000
    }
    @else {
        @return $text-color;
    }
}
@mixin medium {
    @media screen and (min-width:768px) {
        @content 
    }
}
@mixin large {
    @media screen and (min-width:1024px) {
        @content 
    }
}
@mixin x-large {
    @media screen and (min-width:1600px) {
        @content 
    }
}